# Python
__pycache__/
*.py[cod]
venv/
.env

# PyCharm
.idea/

# Database
db.sqlite3
uploads/

# DS_Store (macOS junk)
.DS_Store

#Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

