[tool.ruff]
line-length = 120
target-version = "py313"

exclude = [
    ".git",
    ".venv",
    "__pycache__",
    "migrations",
]

[tool.ruff.lint]
select = ["E", "F", "W", "I", "UP", "B", "DJ"]
ignore = ["E501"]

[tool.ruff.lint.isort]
known-first-party = ["users", "cars", "rentals", "payments", "config"]
combine-as-imports = true
lines-after-imports = 2

[tool.ruff.format]
quote-style = "double"
skip-magic-trailing-comma = false
line-ending = "auto"